[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/concurrentqueue"]
	path = external/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/microsoft/GSL.git
[submodule "external/GSL"]
	path = external/GSL
	url = https://github.com/microsoft/GSL.git
